@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-container {
        flex-wrap: wrap;
    }


}

#check {
    display: none;
}








@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    nav ul {
        display: none;
    }



    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section-pic {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-container {
        margin-top: 0;
    }
}


@media screen and (max-width: 768px) {
    #contact,
    footer {
        height: 40vh;
    }

    #profile {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-container, .contact-info-upper-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p, 
    .nav-link li a {
        font-size: 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-link {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section-pic {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section-text p {
        font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

}
